{% extends 'base.html' %}

{% block header %}

	<div class="jumbotron jumbotron-fluid">
  		<div class="container">
    		<h1 class="display-4">Create a Schedule!</h1>
    		<p class="lead">Fill out the form and you will get your workout schedule!</p>
  		</div>
	</div>

{% endblock %}

{% block content %}

	<form method='post' action="{% url 'create_schedule' %}">
		{% csrf_token %}
  		<div class="form-group">
    		<label for="title">Schedule Title</label>
    		<input type="text" class="form-control" id="title" placeholder="lose weight 10 pounds" required>
  		</div>
  		<div class="form-group">
    		<label for="focus">Select your focuses</label>
    		<select class="form-control" id="focus" required>
      		<option>strength</option>
      		<option>hypertrophy</option>
      		<option>power</option>
    		</select>
  		</div>
  		<div class="form-group">
    		<label for="number_of_weeks">Number of weeks</label>
    		<select class="form-control" id="number_of_weeks" required>
      		<option>2</option>
      		<option>4</option>
      		<option>8</option>
      		<option>12</option>
      		<option>20</option>
    		</select>
  		</div>
  		<button type="submit" class="btn btn-primary">Create</button>
	</form>

{% endblock %}